/* Création des variables pour changement couleurs site */
:root {
  --bt-lightpink: #dc9f96;
  --bt-darkpink: #c02e44;
  --txt-darkgreen: #3b8e46;
  --txt-pink: #d2776a;
  --bckgd-color: #ece2da;
}

/* Paramètres de bases */

* {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Syne", sans-serif;
}

a {
  font-size: 1em;
  text-decoration: none;
}

h1 {
  font-size: 2.375em;
  font-weight: 800;
  color: var(--txt-darkgreen);
}

h2 {
  font-size: 1.875em;
  font-weight: 800;
  color: var(--txt-pink);
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--txt-darkgreen);
}

h4 {
  font-size: 1.25em;
  font-weight: 700;
  color: black;
}

p {
  font-size: 1em;
  font-weight: 400;
}

em {
  font-style: normal;
}

.shadow_box {
  box-shadow: 0px 4px #e3d9d0;
}

/* HEADER */

header {
  display: flex;
  padding: 0px 0px 0px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo img {
  display: block;
  width: 170%;
  height: auto;
  max-width: 200px;
}

/* MENU DE NAVIGATION */

nav ul {
  display: flex;
  margin: 0;
}

nav li {
  padding: 20px;
  list-style: none;
}

nav li:hover {
  background-color: var(--bckgd-color);
}

nav .order_menu {
  background-color: var(--bt-lightpink);
  order: 4;
}

nav .order_menu:hover {
  background-color: var(--bt-darkpink);
}

nav .order_menu a {
  color: white;
}

nav .admin_menu {
  order: 3;
}

.rounded_block {
  background-color: var(--bckgd-color);
  height: 35px;
  border-radius: 0 0 45% 45%;
}

.banner_can img {
  width: 100%;
  height: auto;
  padding-top: 64px;
}

/* FOOTER */

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  background-color: white;
}

footer img {
  /* max-height: 50px; */
  width: 100%;
}

.home_block1 {
  background-color: var(--bckgd-color);
  padding-top: 36px;
}

/* HOME PAGE */

/* HOME PAGE partie 1 (visuel canette) */

.home_visual {
  padding-top: 36px;
}

.home_visual img {
  width: 40%;
  height: auto;
}

/* HOME PAGE partie 2 (L'energeie des plantes) */

.part2_title {
  padding-top: 28px;
  padding-bottom: 28px;
}

.part2_text {
  width: 35%;
  margin: auto;
  margin-bottom: 28px;
}

/* HOME PAGE partie 3 (LES GOUTS) */

.part_3 {
  padding-top: 28px;
  background-color: var(--bckgd-color);
}

.part_3_text {
  padding-bottom: 40px;
}

.taste_group > .wp-block-group__inner-container {
  width: 85%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
}

.taste_box img {
  width: 100%;
  height: auto;
  display: block;
}

.taste_box > .wp-block-group__inner-container {
  width: 350px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.taste_box_title {
  position: absolute;
}

.taste_box_title h1 {
  color: white;
}

.planty_bouton {
  justify-content: center;
  text-align: center;
}

.planty_bouton .wp-element-button{
  width: 100px;
  height: 20px;
  margin-top: 30px;
  border-radius: 4px;
  background-color: var(--bt-lightpink);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOME PAGE partie 4 (temoignages) */

.part4_title {
  color: var(--txt-darkgreen);
  padding: 32px 0 32px 0;
}

.witness_group > .wp-block-group__inner-container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
}

.witness_box > .wp-block-group__inner-container {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.witness_img {
  width: 80px;
  height: auto;
}

.witness_img img {
  width: 100%;
  height: auto;
}

.witness_name {
  text-align: left;
  padding-bottom: 8px;
}

.witness_notification {
  width: 160px;
  text-align: left;
  word-wrap: break-word;
  font-size: .85em;
  line-height: 1em;
}

/* PAGE CONTACT */

/* PAGE CONTACT partie 1 (Nous rencontrer) */


.contact_part1 > .wp-block-group__inner-container {
  background-color: var(--bckgd-color);
  position: relative;
  padding-top: 128px;
}

.contact_part1 > .wp-block-group__inner-container > figure {
  width: 125px;
  position: absolute;
  top: 20%;
  left: 5%;
}

.contact_part1 > .wp-block-group__inner-container > figure img {
  height: auto;
  width: 100%;
}

.contact_P1_title {
  position: relative;
  color: var(--txt-pink);
  padding-bottom: 24px;
  z-index: 1;
}

.contact_P1_text {
  width: 60%;
  text-align: center;
  margin: auto;
  padding-bottom: 24px;
}

/* PAGE CONTACT partie 2 (L'equipe) */

.contact_P2_title {
  color: black;
  padding-top: 24px;
  padding-bottom: 24px;
}

.staff_group > .wp-block-group__inner-container {
  width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 32px;
  position: relative;
  padding-bottom: 64px;
}

.staff_box {
  justify-content: center;
  display: flex;
}

.staff_img {
  width: 150px;
  height: 150px;
}

.staff_img img {
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.staff_name {
  padding: 8px 0 8px 0;
}

.staff_group > .wp-block-group__inner-container > figure {
  width: 125px;
  height: auto;
  position: absolute;
  bottom: 0px;
  padding-left: calc( 50% + 310px);
  z-index: -1;
}

.staff_group > .wp-block-group__inner-container > figure > img {
  width: 100%;
  height: 100%;
  display: block;
}

/* CONTACT PAGE contact form */

.form_group {
  background-color: var(--bckgd-color);
  padding-top: 64px;
}

.form_group > .wp-block-group__inner-container {
  position: relative;
}

contact_form > .wp-block-group__inner-container >.wpcf7 {
  display: flex;
  justify-content: center;
}

.contact_form > .wp-block-group__inner-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_form > .wp-block-group__inner-container form > p {
  text-align: left;
  padding-top: 18px;
}

.contact_form > .wp-block-group__inner-container label > em {
  line-height: 32px;
}

.contact_form > .wp-block-group__inner-container span > input, textarea {
  width: 350px;
  border: none;
  border-radius: 6px;
}

.contact_form > .wp-block-group__inner-container span > textarea {
  position: relative;
  z-index: 2;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15) ;
}

.contact_form > .wp-block-group__inner-container span > input {
  height: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15) ;
}

.contact_form input[type="submit"] {
  width: 160px;
  border: 0;
  height: 32px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--bt-lightpink);
}

.contact_form input:hover {
  background-color: var(--bt-darkpink);
}

.contact_form_flower {
  position: absolute;
  top: 360px;
  padding-left: calc(50% - 225px);
}

.contact_form_flower > img {
  width: 100px;
  height: auto;
}

/* ORDER PAGE */

.order_subtitle {
  color: white;
  text-align: left;
  padding-bottom: 16px;
  font-weight: 400;
}

/* ORDER PAGE order selector */

.order_group {
  background-color: var(--txt-darkgreen);
}

.order_group > .wp-block-group__inner-container {
  width: 80%;
  margin: auto;
  padding-top: 48px;
}

.order_group > .wp-block-group__inner-container > h1 {
  color: white;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  margin-bottom: 40px;
}

.order_product_group > .wp-block-group__inner-container {
  display: flex;
  justify-content: space-between;
}

.order_product_box > .wp-block-group__inner-container {
  width: 200px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_product_img > img {
  width: 100%;
  height: 100%;
}

.order_product_title {
  position: absolute;
}

.order_product_title > .wp-block-group__inner-container > h2 {
  color: white;
  font-size: 1.25em;
}

.products_quantity {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.product_name > p {
  display: none;
}

.order_quantity {
  width: 82px;
  height: 52px;
}

.quantity_box {
  position: relative;
  display: flex;
  column-gap: 14px;
}

.quantity_buton br {
  display: none;
}

.quantity_buton span {
  display: block;
  width: 34px;
  height: 27px;
  background-color: var(--bt-lightpink);
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}

.quantity_buton span:hover {
  background-color: var(--bt-darkpink);
}

.plus_buton {
  border-bottom: 2px solid white;
}

.quantity_box > .quantity_buton {
  display: inline-block;
  position: absolute;
  left: 52px;
  top: 0;
  z-index: 2;
}

.quantity_valid_buton {
  width: 100px;
  border: 0;
  height: 56px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--bt-lightpink);
  cursor: pointer;
}

.quantity_valid_buton:hover {
  background-color: var(--bt-darkpink);
}

/* ORDER PAGE delivry infos */

.delivery_info {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delivery_info > p {
  padding-top: 36px;
}

.delivery_group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* column-gap: 10%; */
  padding-top: 40px;
  border-top: 1px solid white;
}

.delivery_col1, .delivery_col2 {
  width: 50%;
}

.delivery_col1 {
  padding-right: 5%;
  border-right: 1px solid white;
}

.delivery_col2 {
  padding-left: 5%;
}

.delivery_group input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
}

.delivery_group p {
  color: white;
  text-align: left;
  font-size: 1em;
}

.delivery_text {
  color: white;
  line-height: 32px;
}

.delivery_subtitle {
  padding-bottom: 12px;
  font-size: 1.5em;
}

.delivery_valid_buton {
  width: 160px;
  border: 0;
  height: 32px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--bt-lightpink);
  cursor: pointer;
}

.delivery_valid_buton:hover {
  background-color: var(--bt-darkpink);
}

/* ***************** media queries - ADAPTATION RESPONSIVE *************** */


@media (max-width: 900px) {

.home_titre {
  font-size: 1.875em;
}
  
.witness_group > .wp-block-group__inner-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
}

.contact_P1_title {
  width: 70%;
  margin: auto;
}

.order_group > .wp-block-group__inner-container {
  width: 80%;
}


.order_subtitle {
  text-align: center;
}

.order_product_group {
  display: none;
}

.products_quantity {
  flex-direction: column;
}

.product_name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_name > p {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 16px;
}

.product_name > p > span {
  font-weight: 900;
  color: white;
  font-size: 1.25em;
}

.delivery_group {
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.delivery_col1, .delivery_col2 {
  width: 100%;
}

.delivery_col1 {
  padding-right: 0;
  border-right: none;
}

.delivery_col2 {
  padding-left: 0;
  padding-top: 30px;
}  

}

@media (max-width: 700px) {
  
.logo img {
  width: 100%;
  max-width: 100px;
}  

nav li {
  padding: 10px;
}  

nav a {
  font-size: 12px;
}  

footer a {
  padding-bottom: 25px;
}  
h1 {
  font-size: 1.35em;
}  

h2 {
  font-size: 1.225em;
}  

.banner_can img {
  padding-top: 0px;
}  

.part2_text {
  width: 50%;
  margin: auto;
  margin-bottom: 28px;
}  

.part_3_text {
  width: 70%;
  margin: auto;
  padding-bottom: 40px;
}  

.taste_box img {
  width: 275px;
  height: auto;
  display: block;
}  

.part4_title {
  width: 80%;
  margin: auto;
  font-size: 1.25em;
  padding: 32px 0 32px 0;
}  

.contact_part1 > .wp-block-group__inner-container {
  padding-top: 60px;
}  

.contact_part1 > .wp-block-group__inner-container > figure {
  width: 85px;
  position: absolute;
  top: 5%;
  left: 10%;
}  

.staff_group > .wp-block-group__inner-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  position: relative;
  padding-bottom: 20px;
}  

.staff_group > .wp-block-group__inner-container > figure {
  width: 75px;
  height: auto;
  position: absolute;
  bottom: 0px;
  padding-left: calc( 50% + 80px);
}  

.form_group {
  padding-top: 20px;
}  

.contact_form > .wp-block-group__inner-container span > input, textarea {
  width: 250px;
}  

.contact_form_flower {
  position: absolute;
  bottom: 95px;
  padding-left: calc(50% - 175px);
}  

}